@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: "Life Savers";
	src: url('LifeSavers-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*{
	margin:0;
	padding:0;
}
body{
	font:14px/18px Arial, Helvetica, sans-serif;
	color:#333;
	background-color:#FFF;
}
#conteneur{
	width:750px;
	margin:0 auto 30px auto;

}
a{
	color:#F30B55;
}
a:hover{
	color:#333;
}
ul{
	list-style-position:inside;
}
#header{
	overflow:hidden;
	margin:20px 0;
}
.link{
	display:block;
	float:left;
	width:170px;
	height:50px;
	padding:100px 0 0 0;
	margin:0 0 5px 5px;
	background:url(/static/EatPonies.png) no-repeat 25px 8px #e8efef;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow:  -5px 5px 0px 0px #666;
	box-shadow:  -5px 5px 0px 0px #666;
	cursor:pointer;
	text-align:center;
	font-size:20px;
	color:#000;
	text-decoration:none;
	line-height:50px;
}
.link:hover{
	position:relative;
	left:-5px;
	top:5px;
	box-shadow:  0px 0px 0px 0px #666;
}
h1{
	float:left;
	width:545px;
	margin:25px 0 0 30px;
	padding:0;
	font: 50px/60px 'Life Savers', Arial, Helvetica, sans-serif;
}
h2{
	clear:both;
	margin:30px 0 10px 0;
	padding:0;
	font: 30px/36px 'Life Savers', Arial, Helvetica, sans-serif;
	color:#000;
}
.explanation{
	width:360px;
	margin:30px 30px 30px 0;
	float:left;
}
.explanation + .explanation{
	margin:30px 0 30px 0;
}
.explanation img {
	border:1px solid #ccc;
}
.explanation p,
.drawing h2{
	font: 18px/22px Arial, Helvetica, sans-serif;
	margin:0 0 15px 0;
}
.drawing{
	clear:both;
	min-height:688px;
	background:url(/static/drawing.jpg) no-repeat left bottom;
}
.drawing ul {
	padding:10px;
	width:340px;
	max-height:70px;
	overflow:auto;
	border:1px solid #ccc;
}

.commit{
	display: none;
}
